Cuadro1-NACIMIENTOS-2020-II-pr.xls
Cuadro1-NACIMIENTOS-2020-PRELIMINAR.xls
Nac_2015.sav
Nac_2016.csv
Nacidos_2019.csv
nac2017.csv
nac2018.csv
nacimientos2020p-cuadro-definitivo-III-2020.xls
nacimientos2020p-cuadro-definitivo-III-2020.xlsx
nacimientos2020p-cuadro-definitivo-IV-2020.xls
nacimientos2020p-cuadro-definitivo-IV-2020.xlsx
nacimientos2021p-cuadro-unificado-2021-Itrim.xls
nacimientos2021p-cuadro-unificado-2021-Itrim.xlsx
Nac_2016.sav
Nacidos.zip
nac2017.zip
