CUADRO4-FETALES-2020-II-pr.xls
CUADRO4-FETALES-2020-PRELIMINAR.xls
Fetal_2015.sav
Fetal_2016.csv
Fetales_2019.csv
defunciones-fetales2020p-cuadro-acumulado-2020.xls
defunciones-fetales2020p-cuadro-definitivo-III-2020.xls
defunciones-fetales2020p-cuadro-definitivo-III-2020.xlsx
defunciones-fetales2020p-cuadro-definitivo-IV-2020.xls
defunciones-fetales2020p-cuadro-definitivo-IV-2020.xlsx
defunciones-fetales2021p-cuadro-unificado-I-2021.xls
defunciones-fetales2021p-cuadro-unificado-I-2021.xlsx
fetal2017.csv
fetal2018.csv
CUADRO1-FETALES-2018-def.xls
CUADRO4-FETALES-2018-def.xls
Fetal.zip
Fetal_2015.txt
Fetal_2015.zip
Fetales_2019.zip
fetal2017.zip
fetal2018.zip
