fetales_base_de_datos_2015_dbf.zip
fetales_base_de_datos_2016_dbf.zip
fetales_base_de_datos_2017_dbf.zip
fetales_base_de_datos_2018_complemento_dbf.zip
fetales_base_de_datos_2018_dbf.zip
fetales_base_de_datos_2019_dbf.zip
fetales_base_de_datos_2020_dbf.zip
