nacimientos2020p-cuadro-acumulado-2020.xls
nacimientos2020p-cuadro-definitivo-acumulado-2020.xls
CUADRO1-NOFETALES-2020-II-pr.xls
CUADRO1-NOFETALES-2020-PRELIMINAR.xls
CUADRO5-NOFETALES-2020-II-pr.xls
CUADRO5-NOFETALES-2020-PRELIMINAR.xls
defunciones-no-fetales2020p-cuadro-acumulado-2020.xls
defunciones-no-fetales2020p-cuadro-definitivo-III-2020.xls
defunciones-no-fetales2020p-cuadro-definitivo-IV-2020.xls
non_fetal_annual
